<div class="page-header">
  <h1>{{event.name}}<small> {{event.location}} {{event.date}}</small></h1>
</div>

<div class="ui-view">
</div>

<a ui-sref="events.detail.volunteers({ id: event.id })" class="btn btn-info" ng-show="event.volunteer_ids.length">Show volunteers</a>
<button ng-click="editing = true" ng-hide="editing" class="btn btn-warning">Edit event</button>
<form ng-submit="submit()" role="form" ng-show="editing" class="form-inline">
  <input type="text" class="form-control input-sm" ng-model="event.name" placeholder="Name" required/>
    <input type="text" class="form-control input-sm" ng-model="event.date" placeholder="Date" required/>
    <input type="text" class="form-control input-sm" ng-model="event.location" placeholder="location" required/>
    <button class="btn btn-primary btn-sm" type="submit">Update</button>
</form>

<button ng-click="EventsFactory.deleteEvent(event)" class="btn btn-danger">Delete</button>
