<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Search Events</h4>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input ng-model="query" type="text" class="form-control" id="event-name" placeholder="Search">
        </div>
      </form>
      <h4>Events</h4>
        <div class="panel panel-default" ng-repeat="event in events | filter:query">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ui-sref="events.detail({ id: event.id })">{{event.name}}</a>
            </h3>
          </div>
          <div class="panel-body">
           <p>Date: {{event.date}}</p>
           <p>Location: {{event.location}}</p>
          </div>
        </div>
      <button ng-click="new_event = true" ng-hide="new_event" class="btn btn-danger">
        Make a new event
      </button>
      <span class="form-group" ng-show="new_event" ng-submit="submit()">
        <form class="form-inline" role="form">
          <input type="text" class="form-control input-sm" ng-model="newEvent.name" placeholder="Name" required/>
          <input type="text" class="form-control input-sm" ng-model="newEvent.date" placeholder="Date" required/>
          <input type="text" class="form-control input-sm" ng-model="newEvent.location" placeholder="location" required/>
          <button class="btn btn-primary btn-sm" type="submit">Save</button>
        </form>
      </span>
    </div>
    <div ui-view class="col-md-8">
    </div>
  </div>
</div>
